<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../New folder/System.in/index.css">
  <link rel="stylesheet" href="../sytem.in/my_cars.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Drob Auto</title>
</head>

<header>
  <nav class="navbar navbar-dark bg-dark fixed-top" style="background-color: #062617f5 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: 24px; color: #fd5631; ">Rental Car</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <!-- icon user -->

          <!-- and -->
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-house"
                  style="font-size: 35px; margin: 13px;"></i> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <!--   buton  -->
              <ul class="dropdown-menu dropdown-menu-dark">
                <div class="contaner_button">
                  <div class="col-md-25 text-end">


                    <!--  end -->
                    <div class="button">
                      <a href="/"
                        class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                          <use xlink:href="#bootstrap"></use>
                        </svg>
                      </a>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>

      </div>
    </div>
    </div>
    </div>
  </nav>
</header>

<main>
  <div class="rates-list" style="padding: 80px; background-color: #467660bd !important;">
    <div class="cars_users">
      <div class="header_contacts">
        <div class="contaner_contacts">

          <section class="card card-light card-body border-0 shadow-sm p-4 mb-4" id="contacts">
            <h2 class="h4 text-light mb-4"><i class="fi-phone text-primary fs-5 mt-n1 me-2"
                style="color:#fd5631 !important;"></i>Contacts</h2>
            <div class="row">
              <div class="col-sm-2 mb-3">
                <label class="form-label text-light" for="sc-fn">First name <span class="text-danger">*</span></label>
                <input class="form-control form-control-light" type="text" id="sc-fn" value="Devon"
                  placeholder="Enter your first name" required="">
              </div>
              <div class="col-sm-2 mb-3">
                <label class="form-label text-light" for="sc-sn">Second name <span class="text-danger">*</span></label>
                <input class="form-control form-control-light" type="text" id="sc-sn" value="Lane"
                  placeholder="Enter your second name" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 mb-3">
                <label class="form-label text-light" for="sc-email">Email<span class="text-danger">*</span></label>
                <input class="form-control form-control-light" type="text" id="sc-email" value="devone_lane@email.com"
                  placeholder="Enter your email">
              </div>
              <div class="col-sm-3 mb-2">
                <label class="form-label text-light" for="sc-phone">Phone number <span
                    class="text-danger">*</span></label>
                <input class="form-control form-control-light" type="tel" id="sc-phone" data-format="custom"
                  data-delimiter="-" data-blocks="3 3 4" value="316-442-0597" placeholder="000-000-0000">
              </div>
            </div>
            <div class="row" style="width:415px;">
              <div class="col-sm-5 mb-3">
                <label class="form-label text-light" for="sc-country">Country / region <span
                    class="text-danger">*</span></label>
                <select class="form-select form-select-light" id="sc-country" required="">
                  <option value="" disabled="">Choose country</option>
                  <option value="Australia">Australia</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Canada">Canada</option>
                  <option value="Germany">Germany</option>
                  <option value="United States" selected="">United States</option>
                </select>
              </div>
              <div class="col-sm-5 mb-4">
                <label class="form-label text-light" for="sc-state">State <span class="text-danger">*</span></label>
                <select class="form-select form-select-light" id="sc-state" required="">
                  <option value="" disabled="">Choose state</option>
                  <option value="Alabama">Alabama</option>
                  <option value="California">California</option>
                  <option value="Florida">Florida</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Illinois" selected="">Illinois</option>
                  <option value="Indiana">Indiana</option>
                  <option value="Kansas">Kansas</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 mb-3">
                <label class="form-label text-light" for="sc-city">City <span class="text-danger">*</span></label>
                <select class="form-select form-select-light" id="sc-city" required="">
                  <option value="" disabled="">Choose city</option>
                  <option value="Chicago" selected="">Chicago</option>
                  <option value="Dallas">Dallas</option>
                  <option value="Los Angeles">Los Angeles</option>
                  <option value="New York">New York</option>
                  <option value="San Diego">San Diego</option>
                </select>
              </div>
              <div class="col-sm-2 mb-3">
                <label class="form-label text-light" for="sc-zip">Zip code <span class="text-danger">*</span></label>
                <input class="form-control form-control-light" type="text" id="sc-zip" placeholder="Enter Zip code"
                  value="60603" required="">
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="cras_loca">

      <!-- Vehicle information-->
      <div class="header_vehicle">
        <div class="container_vehicle">
          <section class="card card-light card-body border-0 shadow-sm p-4 mb-4" id="vehicle-info">
            <h2 class="h4 text-light mb-4"><i class="fi-car text-primary fs-5 mt-n1 me-2"
                style="color: #fd5631 !important;"></i>Vehicle information</h2>
            <div class="row pb-2">
              <div style="width:590px;">


                <div class="col-sm-6 mb-3" style="margin-left: 1px;">
                  <label class="form-label text-light" for="sc-make">Fota <span class="text-danger">*</span></label>
                  <div
                    class="filepond--root file-uploader file-uploader-grid bg-faded-light border-light filepond--hopper"
                    data-style-button-remove-item-position="left" data-style-button-process-item-position="right"
                    data-style-load-indicator-position="right" data-style-progress-indicator-position="right"
                    data-style-button-remove-item-align="false" style="height: 160px;"><input class="filepond--browser"
                      type="file" id="filepond--browser-3nzg9idbq" name="filepond"
                      aria-controls="filepond--assistant-3nzg9idbq" aria-labelledby="filepond--drop-label-3nzg9idbq"
                      accept="image/png,image/jpeg,video/mp4,video/mov" multiple=""><a class="filepond--credits"
                      aria-hidden="true" href="https:" target="_blank" rel="noopener noreferrer"
                      style="transform: translateY(152px);"></a>
                    <div class="filepond--drop-label" style="transform: translate3d(0px, 0px, 0px); opacity: 1;"><label
                        for="filepond--browser-3nzg9idbq" id="filepond--drop-label-3nzg9idbq" aria-hidden="true">
                        <div class="btn btn-primary mb-3"><i class="fi-cloud-upload me-1"></i>Upload photos / video
                        </div>
                        <div class="text-light opacity-70"></div>
                      </label></div>
                    <div class="filepond--list-scroller" style="transform: translate3d(0px, 144px, 0px);">
                      <ul class="filepond--list" role="list"></ul>
                    </div>
                    <div class="filepond--panel filepond--panel-root" data-scalable="true">
                      <div class="filepond--panel-top filepond--panel-root"></div>
                      <div class="filepond--panel-center filepond--panel-root"
                        style="transform: translate3d(0px, 8px, 0px) scale3d(1, 1.44, 1);"></div>
                      <div class="filepond--panel-bottom filepond--panel-root"
                        style="transform: translate3d(0px, 152px, 0px);">
                      </div>
                    </div><span class="filepond--assistant" id="filepond--assistant-3nzg9idbq" role="status"
                      aria-live="polite" aria-relevant="additions"></span>
                    <div class="filepond--drip"></div>
                    <fieldset class="filepond--data"></fieldset>
                  </div>
                  <label class="form-label text-light" for="sc-make">Make <span class="text-danger">*</span></label>
                  <select class="form-select form-select-light" id="sc-make">
                    <option value="" disabled="">Select make</option>
                    <option value="Acura">Acura</option>
                    <option value="BMW">BMW</option>
                    <option value="Citroen">Citroen</option>
                    <option value="Lexus">Lexus</option>
                    <option value="Mercedes-Benz" selected="">Mercedes-Benz</option>
                    <option value="Nissan">Nissan</option>
                    <option value="Toyota">Toyota</option>
                  </select>
                </div>
                <div class="col-sm-4 mb-3">
                  <label class="form-label text-light" for="sc-model">Model <span class="text-danger">*</span></label>
                  <select class="form-select form-select-light" id="sc-model">
                    <option value="" disabled="">Select model</option>
                    <option value="A-Class">A-Class</option>
                    <option value="B-Class">B-Class</option>
                    <option value="C-Class">C-Class</option>
                    <option value="E 220">E 220</option>
                    <option value="E 400" selected="">E 400</option>
                    <option value="GLS 550">GLS 550</option>
                    <option value="GLE-Class">GLE-Class</option>
                    <option value="ML 350">ML 350</option>
                    <option value="Viano">Viano</option>
                  </select>
                </div>
                <div class="col-md-3 col-sm-4 mb-3">
                  <label class="form-label text-light" for="sc-year">Year <span class="text-danger">*</span></label>
                  <select class="form-select form-select-light" id="sc-year">
                    <option value="" disabled="">Select year</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018" selected="">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                  </select>
                </div>
                <div class="col-md-3 col-sm-4 mb-3">
                  <label class="form-label text-light" for="sc-mileage">Mileage <span
                      class="text-danger">*</span></label>
                  <input class="form-control form-control-light" type="number" id="sc-mileage" min="200" step="100"
                    value="25000" placeholder="Enter mileage">
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label text-light" for="sc-vin">VIN</label>
                  <input class="form-control form-control-light" type="text" id="sc-vin" value="2VW821AU9JM754284"
                    placeholder="Enter VIN code">
                </div>
              </div>
            </div>
            <div class="border-top border-light mt-2 pt-4">
              <div class="row pb-2">
                <div class="col-md-3">
                  <label class="form-label text-light" for="sc-body" style="color:#fd5631;">Body type <span
                      class="text-danger">*</span></label>
                  <select class="form-select form-select-light mb-3" id="sc-body">
                    <option value="" disabled="">Select body type</option>
                    <option value="Compact">Compact</option>
                    <option value="Convertible" selected="">Convertible</option>
                    <option value="Crossover">Crossover</option>
                    <option value="Coupe">Coupe</option>
                    <option value="Family MPV">Family MPV</option>
                    <option value="Pickup">Pickup</option>
                    <option value="Sedan">Sedan</option>
                    <option value="SUV">SUV</option>
                    <option value="Wagon">Wagon</option>
                  </select>
                  <label class="form-label text-light" for="sc-fuel">Fuel type <span
                      class="text-danger">*</span></label>
                  <select class="form-select form-select-light mb-3" id="sc-fuel">
                    <option value="" disabled="">Select fuel type</option>
                    <option value="Gasoline" selected="">Gasoline</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Hybrid">Hybrid</option>
                    <option value="Electric">Electric</option>
                  </select>
                  <label class="form-label text-light" for="sc-engine">Engine <span class="text-danger">*</span></label>
                  <select class="form-select form-select-light mb-3" id="sc-engine">
                    <option value="" disabled="">Select engine</option>
                    <option value="1.5 Turbo 3 Cylinder Engine">1.5 Turbo 3 Cylinder Engine</option>
                    <option value="2.4L 4 Cylinder Engine">2.4L 4 Cylinder Engine</option>
                    <option value="3.5L 4 Cylinder Engine">3.5L 4 Cylinder Engine</option>
                    <option value="2.5L Turbo 6 Cylinder" selected="">2.5L Turbo 6 Cylinder</option>
                  </select>
                  <label class="form-label text-light" for="sc-transmission">Transmission <span
                      class="text-danger">*</span></label>
                  <select class="form-select form-select-light mb-3" id="sc-transmission">
                    <option value="" disabled="">Select transmission</option>
                    <option value="Manual">Manual</option>
                    <option value="Automatic" selected="">Automatic</option>
                  </select>
                  <label class="form-label text-light" for="sc-drivetrain">Drivetrain <span
                      class="text-danger">*</span></label>
                  <select class="form-select form-select-light mb-3" id="sc-drivetrain">
                    <option value="" disabled="">Select drivetrain</option>
                    <option value="Front Wheel Drive" selected="">Front Wheel Drive</option>
                    <option value="Rear Wheel Drive">Rear Wheel Drive</option>
                    <option value="All Wheel Drive">All Wheel Drive</option>
                  </select>
                  <label class="form-label text-light" for="sc-color">Color </label>
                  <input class="form-control form-control-light mb-3" type="text" id="sc-color" value="Aspen White"
                    placeholder="Enter color">
                </div>
              </div>
            </div>
            <div class="border-top border-light mt-2 pt-4">
              <label class="form-label text-light" for="sc-description">Description </label>
              <textarea class="form-control form-control-light" id="sc-description" rows="5"
                placeholder="Describe your vehicle" style="font-size:17px; margin-top:20px;"></textarea><span
                class="form-text text-light opacity-50">3000
                characters
                left</span>
            </div>
          </section>
        </div>
      </div>
      <!--  -->
    </div>



  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
<footer class="py-5 container footer">
  <div class="row">
    <div class="contaner_bar_menu">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-microchip fa-beat-fade"></i>Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#cpu-fill"></use>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-regular fa-calendar fa-beat-fade"></i>Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#calendar3"></use>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-house fa-beat-fade"></i> Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#home"></use>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-gauge fa-beat-fade"></i> Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#speedometer2"></use>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-gear fa-beat-fade"></i> Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#toggles2"></use>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-street-view fa-beat-fade"></i>Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#geo-fill"></use>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4"> <i class="fa-sharp fa-solid fa-screwdriver-wrench fa-beat-fade"></i>Featured
              title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#tools"></use>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
      </div>
      <div class="contaner_emil"></div>
      <div class="col-md-5 offset-md-1 mb-3" style=" margin-left: 745px !important;
    margin-right: 0px;
    margin-bottom: 1rem !important;">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
      <div class="col-6 col-md-2 mb-3" style=" margin-left: 990px !important;
    margin-right: 0px;
    margin-bottom: 1rem !important;">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i
                class="fa-solid fa-phone fa-shake"></i>(406) 555-0120</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"> <i
                class="fa-solid fa-envelope fa-bounce"></i>example@email.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p>© 2023 Company, Inc. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#twitter"></use>
          </svg></a></li>
      <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#instagram"></use>
          </svg></a></li>
      <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use>
          </svg></a></li>
    </ul>
  </div>
  </div>
</footer>

</html>